@import url('./variable.css');

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
}

.navbar-logo{
    color: var(--clr-white);
}

.navbar #navbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.navbar-link{
    color: var(--clr-white);
    font-size: var(--font-size-body);
    transition: all .15s linear;
}