/* @import url('./variable.css'); */
:root{
    --clr-primary: #1F932B;
    --clr-black: #000;
    --clr-white: #fff;
    --font-body-family: 'Lato', sans-serif;
    --font-heading-family: 'PT Sans', sans-serif;
    --font-light: 300;
    --font-regular: 400;
    --font-bold: 700;
    --font-size-sub-body: 14px;
    --font-size-body: 16px;
    --font-size-sub-title: 20px;
    --font-size-title: 24px;
    --font-size-section-sub-title: 28px;
    --font-size-section-title: 32px;
    --font-size-hero-title: 42px;
    --font-size-logo: 52px;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, a:hover, a:visited{
    text-decoration: none;
}

body{
    font-family: var(--font-body-family);
    font-size: var(--font-size-body);
    font-weight: var(--font-regular);
    background-color: var(--clr-white);
    color: var(--clr-black);
}

.container{
    width: min(1280px, 90%);
    margin: 0 auto;
}

p{
    margin-bottom: 0;
}

a,button{
    cursor: pointer;
    font-size: var(--font-size-body);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a.icon-link, button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.content{
    padding: 35px 0;
}

.section-title{
    font-family: var(--font-heading-family)ß;
    font-size: var(--font-size-section-title);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 50px;
}

.text-primary{
    color: var(--clr-primary);
}

.logo{
    font-family: var(--font-heading-family);
    font-size: var(--font-size-logo);
    font-weight: var(--font-bold);
    display: block;
    color: var(--clr-black);
}

/* Hero Section CSS */

section#hero{
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    text-align: center;
    background-image: url('../img/image-1.png');
}

section#hero::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 2;
}

section#hero #hero-container{
    color: var(--clr-white);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    width: 70%;
    z-index: 3;
}

section#hero .hero-title{
    font-size: var(--font-size-hero-title);
}

section#hero .hero-description{
    font-size: var(--font-size-title);
    font-weight: var(--font-light);
}

section#hero .hero-button{
    padding: 15px 30px;
    margin-top: 15px;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    border: none;
    border: 1px solid transparent;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

section#hero .hero-button:hover{
    opacity: .85;
    border-color: var(--clr-white);
}

section#hero .hero-button .bx{
    font-size: var(--font-size-title);
}

/* End Hero Section CSS */

/* Room Card CSS */

.room-box-group{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.room-box{
    display: block;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.room-box-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.room-box-image{
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.room-box-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.room-box-body{
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    color: var(--clr-black);
}

.room-box-title-wrapper{
    height: calc(var(--font-size-sub-title) * 2.2);
}

.room-box-title{
    font-size: var(--font-size-sub-title);
}

.room-box-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.room-box-capacity{
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
}

.room-box-capacity .bx{
    font-size: var(--font-size-title);
}

.room-box-price{
    display: inline-flex;
    align-items: start;
    column-gap: 7.5px;
}

.room-box-price .currency{
    font-size: var(--font-size-sub-body);
}

.room-tag{
    position: absolute;
    z-index: 2;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.room-tag-button{
    background: transparent;
    border: none;
    color: var(--clr-white);
    font-size: var(--font-size-title);
}

.room-tag-category{
    background: var(--clr-primary);
    color: var(--clr-white);
    font-size: var(--font-size-sub-body);
    padding: 10px 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* End Room Card CSS */

/* Service Section CSS */

section#service{
    background-color: var(--clr-primary);
}

#service-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
}

.service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
    text-align: center;
    color: var(--clr-white);
}

.service-box-image-wrapper{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

.service-box-title{
    font-size: var(--font-size-body);
    font-weight: var(--font-bold);
}

/* End Service Section CSS */

/* Other Rooms Section CSS */

.other-rooms-box-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.other-rooms-box{
    position: relative;
    color: var(--clr-white);
    text-align: center;
    display: grid;
    place-items: center;
}

.other-rooms-box::after{
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 4;
}

.other-rooms-box:last-child{
    grid-column: span 2;
}

.other-rooms-box-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    top: 0;
    left: 0;
    z-index: 3;
}

.other-rooms-box-details{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.other-rooms-title{
    font-family: var(--font-heading-family);
    font-weight: var(--font-bold);
    font-size: var(--font-size-title);
    margin-bottom: 3px;
}

.other-rooms-subtitle{
    font-size: var(--font-size-body);
    font-weight: var(--font-body);
}

.other-rooms-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 7.5px;
    color: var(--clr-white);
    border: 1px solid var(--clr-white);
    padding: 7.5px 20px;
    font-size: var(--font-size-sub-body);
}

.other-rooms-link:hover{
    background-color: var(--clr-white);
    color: var(--clr-black);
}

.other-rooms-link .bx{
    font-size: var(--font-size-title);
}

/* End Other Rooms Section CSS */

/* Footer CSS */

.footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.footer{
    text-align: center;
}

#main-footer{
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 40px;
}

.footer-navigation{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 15px;
}

.footer-navigation li a{
    color: var(--clr-black);
}

.footer-navigation li a:hover{
    opacity: 0.5;
}

.social-media-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.copyright-footer{
    background-color: var(--clr-primary);
    color: var(--clr-white);
    padding: 17.5px;
}

/* End Footer CSS */